@import url('./__triangle/kaufman__triangle.css');
@import url('./__section-title/kaufman__section-title.css');
@import url('./__section-subtitle/kaufman__section-subtitle.css');

.kaufman{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    background-color:  #1F1F1F;
    position: relative;
    overflow: hidden;
    color: white;
    padding: 0;
}