.cards__item{
    margin-right: 100px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards__item:nth-child(3n) {
    margin-right: 0;
}