@keyframes square-pic-rotate{
    from{
        transform: rotate(-15deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes kaufman-triangle-rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}